@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 116, 139, 0.35);
  border-radius: 999px;
}
